# Amostragem e Medidas de Centralidade e Variabilidade - R

### A amostra é parte de uma população, selecionada randomicamente, que forma o conjunto de elementos que esta sendo estudado. 
* População: todo o alvo de um estudo 
* Amostra: subconjunto da população
* Censo: pesquisa com toda a população

<strong>Quando feita corretamente, a amostra preserva as mesmas características da população de onde foi retirada, caso contrário ela poderá estar enviesada.</strong>
#### Viés: subestima ou superestimação da população.
* Pesquisa de elementos de fácil acesso
* Pesquisas pela Internet (contando com pessoas que possuiem interesse na pesquisa)
* Sem utilização mecanismos de seleção aleatória

#### Custo/Benefício de uma Amostra: vantagem de não trabalhar com toda a população, poupando recursos e agilizando a captação dos dados.

### 1. Amostra Aleatória Simples: 
Determinado número de elementos é retirado da população de forma aleatória, onde qualquer elemento possui a mesma chance de ser selecionado.
* Com reposição
* Sem reposição

### Banco de Dados = Íris

In [56]:
## DB -> Iris
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [52]:
## Instancias e Atributos do DB/Íris
cat('Instâncias: ', dim(iris)[1], '\nAtributos: ', dim(iris)[2])

Instâncias:  150
Atributos:  5

In [1]:
## Gerando dados aleatórios para compor a amostra com função sample()
amostra = sample(c(0,1), 150, replace=TRUE, prob=c(0.5, 0.5))

In [2]:
head(amostra)

[1] 1 1 0 0 1 0

In [3]:
length(amostra[amostra==1])

[1] 82

In [4]:
length(amostra[amostra==0])

[1] 68

In [5]:
summary(as.factor(amostra))

 0  1
68 82

In [9]:
amostra_2 = sample(c(0:1000), 150, replace=FALSE)
amostra_2

  [1]  361  743  561  227   41  557  860  933  484  776    9  601   43  158  825
 [16]  438  118  841  971  490  213   78  162  867    6  422  588   74  914  900
 [31]   14  332    8  325    0  290  820  532  814  191  595  720  130  184  908
 [46]  922  476  897  453  625  442  564  206  627  726  974  600   92   70  194
 [61]   76  119  122  426  964  707  772  912  798  812  100   12   48   91  522
 [76]  334  699  344  114  626  570  565  866  731  829  947  409  242  350  303
 [91]  217  287  216   88  939  926  326  927  951  516  869  420  218  107  281
[106]  136  718  223  924  542   52   24   94  373  910 1000  645  143  115  664
[121]  189  237  569  618  244  415   13  209  435  831  575  519  624  962  649
[136]  728  695  844   64  511  885  535  706  232  578  460  602  730   69  289

# Separando 70% dos dados de Iris
---

In [11]:
amostra_3 = sample(c(0,1), 150, replace=TRUE, prob=c(0.7, 0.3))
summary(as.factor(amostra_3))

 0  1
98 52

In [14]:
amostrairis_0 = iris[amostra_3==0,]
head(amostrairis_0)
dim(amostrairis_0)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
7 4.6          3.4         1.4          0.3         setosa
9 4.4          2.9         1.4          0.2         setosa

[1] 98  5

In [134]:
summary(amostrairis_0)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.400   Min.   :2.300   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.400
 Median :5.800   Median :3.000   Median :4.400   Median :1.300
 Mean   :5.898   Mean   :3.072   Mean   :3.822   Mean   :1.229
 3rd Qu.:6.400   3rd Qu.:3.400   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.700   Max.   :4.000   Max.   :6.900   Max.   :2.500
       Species
 setosa    :21
 versicolor:21
 virginica :23

In [16]:
amostrairis_1 = iris[amostra_3==1,]
head(amostrairis_1)
dim(amostrairis_1)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
8  5.0          3.4         1.5          0.2         setosa
14 4.3          3.0         1.1          0.1         setosa
16 5.7          4.4         1.5          0.4         setosa
17 5.4          3.9         1.3          0.4         setosa

[1] 52  5

In [137]:
summary(amostrairis_1)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.100   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.700   Median :3.000   Median :4.300   Median :1.300
 Mean   :5.801   Mean   :3.046   Mean   :3.709   Mean   :1.176
 3rd Qu.:6.300   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.600   Max.   :2.500
       Species
 setosa    :29
 versicolor:29
 virginica :27

### 2. Amostra Estratificada:
A população é dividida em características comuns: escolaridade, gênero, raça, idade, etc. É interessante ter um número representativo de cada grupo representativo.

In [82]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [78]:
## Gerar amostra com 25 elementos de cada espécie, escolidos aleatóriamente ccom biblioteca 'sampling' 
install.packages("sampling")
library(sampling)
amostra2 = strata(iris, c("Species"), size=c(25,25,25), method="srswor")

In [84]:
summary(amostra2)

       Species      ID_unit            Prob        Stratum
 setosa    :25   Min.   :  3.00   Min.   :0.5   Min.   :1
 versicolor:25   1st Qu.: 36.50   1st Qu.:0.5   1st Qu.:1
 virginica :25   Median : 77.00   Median :0.5   Median :2
                 Mean   : 77.53   Mean   :0.5   Mean   :2
                 3rd Qu.:117.00   3rd Qu.:0.5   3rd Qu.:3
                 Max.   :150.00   Max.   :0.5   Max.   :3

### 2.1 Amostra estratificada proporcional à variável Categórica
### DB: Infert

In [90]:
##Gerando amostra proporcionalmente com DB Infert - variável: education
head(infert)

  education age parity induced case spontaneous stratum pooled.stratum
1 0-5yrs    26  6      1       1    2           1        3
2 0-5yrs    42  1      1       1    0           2        1
3 0-5yrs    39  6      2       1    0           3        4
4 0-5yrs    34  4      2       1    0           4        2
5 6-11yrs   35  3      1       1    1           5       32
6 6-11yrs   36  4      2       1    1           6       36

In [89]:
summary(infert)

   education        age            parity         induced
 0-5yrs : 12   Min.   :21.00   Min.   :1.000   Min.   :0.0000
 6-11yrs:120   1st Qu.:28.00   1st Qu.:1.000   1st Qu.:0.0000
 12+ yrs:116   Median :31.00   Median :2.000   Median :0.0000
               Mean   :31.50   Mean   :2.093   Mean   :0.5726
               3rd Qu.:35.25   3rd Qu.:3.000   3rd Qu.:1.0000
               Max.   :44.00   Max.   :6.000   Max.   :2.0000
      case         spontaneous        stratum      pooled.stratum
 Min.   :0.0000   Min.   :0.0000   Min.   : 1.00   Min.   : 1.00
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:21.00   1st Qu.:19.00
 Median :0.0000   Median :0.0000   Median :42.00   Median :36.00
 Mean   :0.3347   Mean   :0.5766   Mean   :41.87   Mean   :33.58
 3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:62.25   3rd Qu.:48.25
 Max.   :1.0000   Max.   :2.0000   Max.   :83.00   Max.   :63.00

In [101]:
#Cálculo: número do estrato / tamanho da população * número da amóstra
# 0-5:
v1 = round(12/248 * 100)
# 6-11:
v2 = round(120/248 * 100)
#12+:
v3 = round(116/248 * 100)

cat('Proporções das variáveis categóricas na amostra:\n-0-5 anos: ', v1, '\n-6-11 anos:', v2, '\n-12+:', v3)

Proporções das variáveis categóricas na amostra:
-0-5 anos:  5
-6-11 anos: 48
-12+: 47

In [102]:
astrac = strata(infert, c("education"), size=c(5, 48, 47), method="srswor")

In [104]:
summary(astrac)

   education     ID_unit            Prob           Stratum
 0-5yrs : 5   Min.   :  4.00   Min.   :0.4000   Min.   :1.00
 6-11yrs:48   1st Qu.: 73.75   1st Qu.:0.4000   1st Qu.:2.00
 12+ yrs:47   Median :129.00   Median :0.4052   Median :2.00
              Mean   :131.83   Mean   :0.4033   Mean   :2.42
              3rd Qu.:191.50   3rd Qu.:0.4052   3rd Qu.:3.00
              Max.   :247.00   Max.   :0.4167   Max.   :3.00

### 3. Amostra Sistemática:
É selecionado um elemento aleatório para então, a cada 'n' elementos, um novo menbro ser escolhido. Bem utilizado quando não se sabe a quantidade de elementos existem na população.

In [1]:
##Dowload do pacote Teacher Sampling
install.packages("TeachingSampling")
library(TeachingSampling)

package 'TeachingSampling' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Mariot\AppData\Local\Temp\RtmpUx1cYZ\downloaded_packages

Warning message:
"package 'TeachingSampling' was built under R version 3.6.3"Loading required package: dplyr

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Loading required package: magrittr

In [5]:
##Amostra com 1 instância do DB Íris a cada 10 linhas
asist = S.SY(150, 10)
asist

      [,1]
 [1,]   8
 [2,]  18
 [3,]  28
 [4,]  38
 [5,]  48
 [6,]  58
 [7,]  68
 [8,]  78
 [9,]  88
[10,]  98
[11,] 108
[12,] 118
[13,] 128
[14,] 138
[15,] 148

In [6]:
amostrairis = iris[asist,]
amostrairis

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
8   5.0          3.4         1.5          0.2         setosa
18  5.1          3.5         1.4          0.3         setosa
28  5.2          3.5         1.5          0.2         setosa
38  4.9          3.6         1.4          0.1         setosa
48  4.6          3.2         1.4          0.2         setosa
58  4.9          2.4         3.3          1.0         versicolor
68  5.8          2.7         4.1          1.0         versicolor
78  6.7          3.0         5.0          1.7         versicolor
88  6.3          2.3         4.4          1.3         versicolor
98  6.2          2.9         4.3          1.3         versicolor
108 7.3          2.9         6.3          1.8         virginica
118 7.7          3.8         6.7          2.2         virginica
128 6.1          3.0         4.9          1.8         virginica
138 6.4          3.1         5.5          1.8         virginica
148 6.5          3.0         5.2          2.0         virginica

# Medidas de Centralidade e Variabilidade

* µ = média da população = Σx/N -> trata-se de um parâmetro populacional
* X = média da amostra   = Σx/n -> trata-se de uma estatística amostral
* Moda = Valor mais frequente/comum
* Mediana: Valor que separa a metade maior da metade menor de uma amostra ou população
* Amplitude: Diferença entre o maior e o menor valor na amostra ou população.
* σ^2 = Variância Populacional = Σ(xi-X)^2/N -> média dos quadrados das diferenças entre cada elemento e a média da população. Indica a dispersão dos dados em relação à média.
* S^2 = Variância Amostral = Σ(xi-X)^2/(n-1) -> Estimativa não viciada: média dos quadrados das diferenças entre cada elemento e a média da da amóstra menos 1. O resultado é um número maior que o da Variância Populacional.
* σ = Desvio Padrão 
* FIQ = Intervalo Interquartil = 3Q - 1Q


<strong>Quartis:</strong>
* Q1: 25% dos menores valores
* Q2: 50% dos valores (mediana)
* Q3: 75% dos maiores valores

In [17]:
# Medidas de Centralidade e Variabilidade em Python
salarios =c(40000, 18000, 12000, 250000, 30000, 140000, 300000, 40000, 800000)
#Média
x = mean(salarios)
cat('A média dos salários é: ', x)
#Mediana 
ma = median(salarios)
cat('\nA mediana dos salários é: ', ma)
#quartis
quartis = quantile(salarios)
cat('\nO primeiro quartil é:', quartis[2], '\nO segundo quartil é:' , quartis[3], '\nO terceiro quartil é:', quartis[4])
#Desvio Padrão
dp = sd(salarios)
cat('\nO Desvio Padrão é:', dp)

A média dos salários é:  181111.1
A mediana dos salários é:  40000
O primeiro quartil é: 30000
O segundo quartil é: 40000
O terceiro quartil é: 250000
O Desvio Padrão é: 255307.9

In [18]:
#Visualização com Summary
summary(salarios)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  12000   30000   40000  181111  250000  800000