# Contrução de uma tabela de frequência em R
---

In [4]:
data = read.table("dataset/Usuarios.csv", dec=".", sep=",",h=T, fileEncoding="windows-1252")
head(data)

  X N estado_civil grau_instrucao     n_filhos salario idade_anos idade_meses
1 1 1 solteiro     ensino fundamental NA       4.00    26          3
2 2 2 casado       ensino fundamental  1       4.56    32         10
3 3 3 casado       ensino fundamental  2       5.25    36          5
4 4 4 solteiro     ensino medio       NA       5.73    20         10
5 5 5 solteiro     ensino fundamental NA       6.26    40          7
6 6 6 casado       ensino fundamental  0       6.66    28          0
  reg_procedencia
1 interior
2 capital
3 capital
4 outra
5 outra
6 interior

In [6]:
# Variáveis
names(data)

[1] "X"               "N"               "estado_civil"    "grau_instrucao"
[5] "n_filhos"        "salario"         "idade_anos"      "idade_meses"
[9] "reg_procedencia"

In [7]:
str(data)

'data.frame':	36 obs. of  9 variables:
 $ X              : int  1 2 3 4 5 6 7 8 9 10 ...
 $ N              : int  1 2 3 4 5 6 7 8 9 10 ...
 $ estado_civil   : Factor w/ 2 levels "casado","solteiro": 2 1 1 2 2 1 2 2 1 2 ...
 $ grau_instrucao : Factor w/ 3 levels "ensino fundamental",..: 1 1 1 2 1 1 1 1 2 2 ...
 $ n_filhos       : int  NA 1 2 NA NA 0 NA NA 1 NA ...
 $ salario        : num  4 4.56 5.25 5.73 6.26 6.66 6.86 7.39 7.59 7.44 ...
 $ idade_anos     : int  26 32 36 20 40 28 41 43 34 23 ...
 $ idade_meses    : int  3 10 5 10 7 0 0 4 10 6 ...
 $ reg_procedencia: Factor w/ 3 levels "capital","interior",..: 2 1 1 3 3 2 2 1 1 3 ...

In [10]:
# Sumário dos salários e do grau de instrução
summary(data$salario)
summary(data$grau_instrucao)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  4.000   7.553  10.165  11.122  14.060  23.300

ensino fundamental       ensino medio           superior
                12                 18                  6

In [13]:
# Média dos salários
mean(data$salario)

[1] 11.12222

## Tabela de Frequência Absoluta

In [38]:
freq = table(data$grau_instrucao)
freq

ensino fundamental       ensino medio           superior
                12                 18                  6

In [39]:
## Tabela de Frequência Relativa
freq_rel = prop.table(freq)
freq_rel

ensino fundamental       ensino medio           superior
         0.3333333          0.5000000          0.1666667

In [40]:
p_freq_rel = 100*prop.table(freq)
p_freq_rel

ensino fundamental       ensino medio           superior
          33.33333           50.00000           16.66667

In [43]:
## Adicionando total
freq = c(freq, sum(freq))
names(freq)[4] = 'total'
freq

ensino fundamental       ensino medio           superior              total
                12                 18                  6                 36

In [41]:
## Para frequencia relativa e frequência proporcional
freq_rel = c(freq_rel, sum(freq_rel))
p_freq_rel = c(p_freq_rel, sum(p_freq_rel))

In [44]:
tabela_final = cbind(freq,
                    freq_rel = round(freq_rel, digits=2),
                    p_freq_rel = round(p_freq_rel, digits=2))
tabela_final

                   freq freq_rel p_freq_rel
ensino fundamental 12   0.33      33.33
ensino medio       18   0.50      50.00
superior            6   0.17      16.67
total              36   1.00     100.00